:root {
    color-scheme: light;
    --text-primary: rgba(64, 63, 61, 1);
    --text-inverse: rgba(225, 212, 201, 1);
    --text-accent: rgba(176, 144, 122, 1);
    --bg-page: rgba(225, 212, 201, 1);
    --bg-container: rgba(102, 95, 85, 1);
    --bg-overlay: rgba(64, 63, 61, 0.8);
    --border-primary: rgba(193, 182, 173, 1);
    --border-inverse: rgba(102, 95, 85, 1);
    transition: background-color 0, 3s, color 0, 3s;
}

.dark-mode {
    color-scheme: dark;
    --text-primary: rgba(225, 212, 201, 1);
    --text-inverse: rgba(225, 212, 201, 1);
    --text-accent: rgba(176, 144, 122, 1);
    --bg-page: rgba(41, 40, 38, 1);
    --bg-container: rgba(64, 63, 61, 1);
    --bg-overlay: rgba(41, 40, 38, 0.8);
    --border-primary: rgba(102, 95, 85, 1);
    --border-inverse: rgba(193, 182, 173, 1);
}

.site-logo {
    content: url('images/logos/logo-light.png');
}

body.dark-mode .site-logo {
    content: url(images/logos/logo-dark.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    padding: 1rem;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-page);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    font-size: 1.1rem;
}

.container {
    max-width: 1440px;
    min-width: 330px;
    width: 100%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    grid-row: 2;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    background-color: var(--bg-container);
    border-radius: 2rm;
    margin-top: 2rem;
}

.footer {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-network {
    font-size: 2rem;
}

.footer-contacts a {
    color: var(--text-primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn-burger {
    display: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-color: var(--border-primary);
    cursor: pointer;
    z-index: 10;
    background-color: var(--bg-page);
}

.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-two .img-hover,
.slider-btn .img-hover,
.application .img-hover,
.network .img-hover {
    display: none;
}

.btn-two:hover .img-default,
.slider-btn:hover .img-default,
.application:hover .img-default,
.network:hover .img-default {
    display: none;
}

.btn-two:hover .img-hover,
.slider-btn:hover .img-hover,
.application:hover .img-hover,
.network:hover .img-hover {
    display: inline-block;
}

.circle img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
}

img {
    border-radius: 2rem;
    padding: 0;
}

header {
    grid-row: 2;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: clamp(10px, 2vw, 30px);
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .btn-burger {
        display: block;
    }

    .nav-header {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2rem;
    }

    .nav-header.open {
        display: block;
    }

    .link-menu {
        display: none !important;
    }
}

.zoom-img {
    transition: transform 0, 3s ease;
}

.zoom-img:hover {
    transform: scale(0.9);
}

.ul-header,
.ul-catalog {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.ul-header a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: clamp(0.875rem, 1.5, 1.2rem);
    padding: 0.5rem 1rem;
}

.ul-header {
    color: var(--text-primary);
}

.ul-footer-contacts {
    padding-top: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1, 1rem;
    font-weight: bold;
}

.ul-footer-networks {
    padding-top: 30px;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact {
    font-size: 2rem;
}

.theme-toggle .theme-switch-hover {
    display: none;
}

.theme-toggle:hover .theme-switch-default {
    display: none;
}

.theme-toggle:hover .theme-switch-hover {
    display: block;
}

.slider-btn {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid var(--border-inverse);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    background-color: var(--bg-page);
}

body.dark-mode .slider-prev .img-default {
    content: url(images/pointers/Vector-prev-light.png);
}

body.dark-mode .slider-next .img-default {
    content: url(images/pointers/Vector-next-light.png);
}

.slider-btn:hover {
    background-color: var(--bg-container);
}

.slider-btn:hover+img {
    background-color: var(--bg-page);
}

button#theme-toggle,
.menu-page,
.app-button,
.google-play-button,
.network {
    background-color: var(--bg-container);
    border: none;
}

body.dark-mode .app-button .img-default {
    content: url(images/icones/icon-app-light.png);
}

body.dark-mode .google-play-button .img-default {
    content: url(images/icones/icon-google-light.png);
}

.app-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-top {
    font-size: 12px;
    color: var(--text-primary);
}

.application:hover .text-top {
    color: var(--text-inverse);
}

.text-bottom {
    font-weight: bold;
    font-size: 16px;
    color: var(--text-primary);
}

.application:hover .text-bottom {
    color: var(--text-inverse);
}

.control-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.link-menu {
    display: flex;
    gap: 10px;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    transition: border-color 0, 3s ease;
}

.link-menu:hover {
    text-decoration: none;
    border-bottom-color: var(--border-inverse);
}

.link-menu img {
    display: block;
}

.img-menu {
    content: url('images/caps/coffee-cup-light.png');
}

body.dark-mode .img-menu {
    content: url('images/caps/coffee-cup-dark.png');
}

.hero-section {
    background-image: url(images/img-hero.jpg);
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 31.25rem;
    padding: 5rem;
    width: 100%;
}

.hero-section div {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: width 0.5s ease;
}

@media (max-width: 768px) {
    .hero-section div {
        max-width: 90%;
    }
}

.hero-section h2,
.hero-section p,
footer li,
footer a,
footer .contact,
footer span {
    color: var(--text-inverse);
}

.hero-section h2 {
    font-size: 3rem;
}

.app-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
}

.app-section>div {
    width: 50%;
}

@media (max-width: 768px) {
    .app-section {
        flex-wrap: wrap;
    }
}

.mobile {
    width: 100%;
    height: auto
}

.slider-section span,
.hero-section span,
.about-section span,
.app-section h2 span,
footer h3,
.catalog-span {
    color: var(--text-accent);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    }
}

.gallery img,
.slider-track img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.picker {
    display: flex;
    gap: 0.75rem;
    font-family: system-ui, -apple-system, sans-serif;
    padding: 1rem;
}

.picker input[type="radio"] {
    display: none;
}

.picker label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem;
    border: 1px solid var(--border-inverse);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    background-color: var(--bg-page);
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    gap: 0.5rem;
    padding: 0.rem;
}

.picker label span {
    background-color: var(--bg-container);
    color: var(--text-inverse);
}

.picker label:hover {
    background-color: var(--bg-container);
    border-color: var(--bg-container);
    color: var(--text-inverse);
}

.picker label:hover span {
    background-color: var(--bg-page);
    color: var(--text-primary);
}

.picker input[type="radio"]:checked+label {
    background-color: var(--bg-container);
    border-color: var(--bg-container);
    color: var(--text-inverse);
}

.picker input[type="radio"]:checked+label span {
    background-color: var(--bg-page);
    color: var(--text-primary);
}

.total,
.btn-two,
.catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-weight: bold;
    border-radius: 80%;
    gap: 0.5rem;
    padding: 0.5rem;
}

.btn-category {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    border: 1px solid var(--border-inverse);
    font-size: 1rem;
    color: var(--text-inverse);
    background-color: transparent;
    gap: 1rem;
    font-family: system-ui, -apple-system, sans-serif;
    font-weight: 500;
}

.btn-category:hover {
    background-color: var(--bg-container);
}

.btn-category:hover .category {
    color: var(--text-inverse);
    text-decoration: none;
}

.btn-category:hover .category span {
    background-color: var(--bg-page);
}

.modal {
    width: 31.25rem;
    height: 31.25rem;
    color: var(--text-primary);
}

.close-button {
    gap: 0.75rem;
    font-family: system-ui, -apple-system, sans-serif;
    padding: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2remx;
    border-radius: 6.25rem;
    border: 1px solid var(--border-inverse);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
}

.close-button:hover {
    background-color: var(--bg-container);
    color: var(--text-inverse);
}

.network {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--border-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
}

.network:hover {
    background-color: var(--bg-page);
}

body.dark-mode .twitter:hover a {
    content: url('images/network/twitter-light.png');
}

body.dark-mode .instagram:hover a {
    content: url(images/network/instagram-light.png);
}

body.dark-mode .facebook:hover a {
    content: url(images/network/facebook-light.png);
}

.menu-page {
    display: flex;
    gap: 0.75rem;
    font-family: system-ui, -apple-system, sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.75rem;
    border-radius: 6.25rem;
    border: 1px solid var(--border-inverse);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    width: 9rem;
    background-color: var(--bg-page);
    box-sizing: border-box;
}

.cap {
    display: none;
    width: 1.25rem;
    content: url('images/caps/coffee-cup-light.png');
}

body.dark-mode .cap {
    content: url(images/caps/coffee-cup-dark.png);
}

.menu-page:hover .cap {
    display: block;
}

.application {
    display: inline-flex;
    font-family: system-ui, -apple-system, sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid var(--border-inverse);
    font-size: 1rem;
    color: var(--bg-container);
    background-color: var(--bg-page);
    box-sizing: border-box;
    white-space: nowrap;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    max-width: 100%;
    box-sizing: border-box;
}

.application:hover {
    background-color: var(--bg-container);
}

.btn-two {
    display: inline-flex;
    font-family: system-ui, -apple-system, sans-serif;
    padding: 0.25rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.25rem;
    border: 1px solid var(--border-inverse);
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-container);
    background-color: transparent;
    box-sizing: border-box;
    gap: 0.25rem;
}

.btn-two:hover .dark,
.ul-catalog .btn-two:hover {
    background-color: var(--bg-container);
    color: var(--text-primary);
}

body.dark-mode .btn-two .light {
    background-color: var(--bg-page);
}

body.dark-mode .btn-two .dark {
    background-color: var(--text-accent);
}

body.dark-mode .btn-two:hover .light {
    background-color: var(--bg-container);
    color: var(--text-primary);
}

body.dark-mode .btn-two .dark .img-default {
    content: url(images/theme/Moon-light.png);
}

.ul-catalog .btn-two:hover a {
    color: var(--bg-page);
}

.light {
    background-color: var(--text-accent);
}

.super-light {
    background-color: var(--bg-container);
}

.ul-catalog .btn-two:hover .super-light {
    background-color: var(--bg-page);
    color: var(--text-inverse);
}

.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
}

.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 380px) {
    .section {
        grid-template-columns: repeat(1, 1fr);
    }
}

.section article {
    border: 1px solid var(--border-inverse);
    border-radius: 2rem;
    overflow: hidden;
    transition: transform 0, 3s ease, box-shadow 0, 3s ease;
    cursor: pointer;
}

.section article:hover {
    transform: scale(0.9);
}

.section .item {
    padding: 1.25rem;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    height: auto;
}

.section img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.slider-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 10px 0;
    scrollbar-width: none;
}

.slider-track::-webkit-scrollbar {
    display: none;
}

.slider-indicators {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.indicator {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--border-primary);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0, 3s ease;
}

.indicator.active {
    background-color: var(--border-inverse);
}

.slider-container h2 {
    font-size: 3rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.slider-item {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-weight: bold;
    gap: 1.25rem;
    border-radius: 0.5rem;
}

.slider-prev {
    left: 2.25rem;
}

.slider-next {
    right: 2.25rem;
}

.about-section,
.app-section {
    font-size: 2rem;
}

.app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.app-info button {
    background: transparent;
    border: none;
    padding: 1rem;
}

.app-btn {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .app-btn {
        flex-wrap: wrap;
    }
}